* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}
/* styles.css */
:root {
    --primary-color: #4361ee;
    --secondary-color: #3f37c9;
    --success-color: #4cc9f0;
    --danger-color: #f72585;
    --warning-color: #f8961e;
    --info-color: #4895ef;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --gray-color: #6c757d;
    --border-color: #dee2e6;
    --white: #ffffff;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
    background-color: #f44336;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

li button:hover {
    background-color: #d32f2f;
}
.language-switcher {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
}

.language-switcher button {
    background: none;
    border: 1px solid #3498db;
    color: #3498db;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 0.3s;
}

.language-switcher button:hover {
    background: #f0f8ff;
}

.language-switcher button.active {
    color: white;
    background: #3498db;
    font-weight: 600;
}